<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="data;">
    <title>quiz</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <style>
        form{
            margin: 0 auto;
            width: 250px;
        }
        body{
            background-color: purple;
        }
    </style>
    
</head>
<body>
    <div class="container">
        <div class='text-center'>
            <h1>quiz</h1>
        </div>
        <centre class="row">
            <form action="http://127.0.0.1:5000/quiz" method="POST" class="first">
                <div class="group">
                    <input type="text" class="form-control" name="what"  placeholder="Enter  Name">
                </div>
                <button class="button">Submit</button>
                <form>
                </centre>
                  <br>
                  
              </form>
          
          </form>

    </div>
</body>
</html>
